button,
.ccc_button,
a[role='button'],
select {
	/* flex: 1 1 auto; */
	display: inline-flex;
	flex-flow: row;
	gap: 0.25em;
	align-items: safe center;
	justify-content: safe center;
	padding: var(--button-padding);
	border: 0;
	border-radius: var(--border-radius);
	background-color: var(--white-1);
	color: var(--teal-6);
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	min-width: 2.5em;

	&:hover {
		background-color: var(--white-2);
		color: var(--teal-7);
		box-shadow: var(--shadow-1);
	}

	&:active {
		background-color: var(--black-5);
	}

	&:disabled {
		color: var(--white-4);
		background-color: var(--white-1);
		box-shadow: none;
	}
}
