input:not([type]) {
	flex: 1 0 auto;
	width: 10em;
	border-radius: var(--border-radius);
	background-color: black;
	border: 0;
	box-shadow: var(--shadow-1), inset 0 0 0 1px var(--gray-2);
	padding: var(--button-padding);
}

input[type='file'] {
	border: 1px solid transparent;
	padding: 0;
	width: 100%;
}
