.header {
	border-bottom: 3px solid black;
	padding-bottom: 20px;
	text-align: center;
	display: flex;
	justify-content: space-between;
}
.header > * {
	flex: 0 1 auto;
}
.footer {
	border-top: 3px solid black;
	padding-top: 20px;
	text-align: center;
	font-size: small;
	color: var(--white-6);
}
